<form autocomplete="off">
  <div class="form-group">
    <label for="lesser">{{localize "NAS.forms.modifierNames.labels.lesser"}}</label>
    <input type="text" name="lesser" value="{{lesser}}"/>
  </div>
  <div class="form-group">
    <label for="minor">{{localize "NAS.forms.modifierNames.labels.minor"}}</label>
    <input type="text" name="minor" value="{{minor}}"/>
  </div>
  <div class="form-group">
    <label for="improved">{{localize "NAS.forms.modifierNames.labels.improved"}}</label>
    <input type="text" name="improved" value="{{improved}}"/>
  </div>
  <div class="form-group">
    <label for="greater">{{localize "NAS.forms.modifierNames.labels.greater"}}</label>
    <input type="text" name="greater" value="{{greater}}"/>
  </div>
  <div class="form-group">
    <label for="major">{{localize "NAS.forms.modifierNames.labels.major"}}</label>
    <input type="text" name="major" value="{{major}}"/>
  </div>
  <div class="form-group">
    <label for="supreme">{{localize "NAS.forms.modifierNames.labels.supreme"}}</label>
    <input type="text" name="supreme" value="{{supreme}}"/>
  </div>
  <div class="form-group">
    <label for="mass">{{localize "NAS.forms.modifierNames.labels.mass"}}</label>
    <input type="text" name="mass" value="{{mass}}"/>
  </div>
  <div class="form-group">
    <label for="communal">{{localize "NAS.forms.modifierNames.labels.communal"}}</label>
    <input type="text" name="communal" value="{{communal}}"/>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize "NAS.common.buttons.save"}}
    </button>
  </footer>
</form> 