<form>
    <p style="text-align:center">{{localize "NAS.forms.translationForm.description"}}</p>
    
    <header class="table-header flexrow">
        <label>{{localize "NAS.forms.translationForm.englishName"}}</label>
        <label>{{localize "NAS.forms.translationForm.translation"}}</label>
    </header>

    <ul class="action-list">
        <li class="action form-group">
            <div>Hardness</div>
            <input name="hardness" type="text" value="{{hardness}}"/>
        </li>
        <li class="action form-group">
            <div>Construct Traits</div>
            <input name="construct" type="text" value="{{construct}}"/>
        </li>
        <li class="action form-group">
            <div>Undead Traits</div>
            <input name="undead" type="text" value="{{undead}}"/>
        </li>
    </ul>

    <div class="form-group">
        <button type="submit">
            <i class="fas fa-save"></i> {{localize 'NAS.common.buttons.save'}}
        </button>
    </div>
</form>






