.input-group {
    display: flex;
    align-items: center;
}

button.edit-row {
    background: none;
    border: none;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.edit-row i {
    font-size: 1em;
}

.damage-priority-table td:nth-child(2) {
    display: right;
    text-align: center;
}

.damage-priority-table th:nth-child(1), 
.damage-priority-table td:nth-child(1) {
    width: 75%;
}

.damage-priority-table th:nth-child(2), 
.damage-priority-table td:nth-child(2) {
    width: 25%;
}

button.delete-row {
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
}

button.delete-row i {
    font-size: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
